.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar-small {
  width: 32px;
  height: 32px;
}

.avatar-medium {
  width: 48px;
  height: 48px;
}

.avatar-large {
  width: 80px;
  height: 80px;
}

.avatar-xlarge {
  width: 120px;
  height: 120px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-initials {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  user-select: none;
}

.avatar-small .avatar-initials {
  font-size: 0.75rem;
}

.avatar-medium .avatar-initials {
  font-size: 1rem;
}

.avatar-large .avatar-initials {
  font-size: 1.5rem;
}

.avatar-xlarge .avatar-initials {
  font-size: 2rem;
}
